header {
    background-color: #269904b0;
    color: #023d0a;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li a {
    color: #023d0a;
    text-decoration: none;
}

div {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

article {
    flex: 2;
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

aside {
    flex: 1;
    background-color: #f0f0f0;
    padding: 80px;
    margin-left: 10px;
}

footer {
    background-color: #269904b0;
    color: #023d0a;
    padding: 5px 0;
}

p {
    text-align: justify;
}

.rodape {
    text-align: center;
}